<div ng-controller="PDFViewerController">
    <div style="position:relative">
    <div id="container" style="width: 100%;height:680px" ej-pdfviewer e-serviceurl="serviceurl" e-pdfservice="pdfService" e-pagechange="pageChange" e-documentload="documentLoad" ng-mousemove="mousemovefunction($event)"></div>
    <div id="magnificationDiv" class="e-pdfviewer toolbarclass" role="toolbar">
        <div style=" position:absolute;top:120px;">
            <div ej-button class=" e-pdfviewer-customtoolbar-icon e-pdfviewer-zoomin " id="viewer-zoomin" ng-mouseover="showTooltip($event)" ng-mouseleave="hideTooltip()" ng-click=" callClientSideMethod('zoomin')"></div>
        </div>
        <div style="position:absolute;top:170px;">
            <div ej-button class="e-pdfviewer-customtoolbar-icon e-pdfviewer-zoomout" id="viewer-zoomout" ng-mouseover="showTooltip($event)" ng-mouseleave="hideTooltip()" ng-click="callClientSideMethod('zoomout')"></div>
        </div>
        <div style="position:absolute;top:220px;">
            <div ej-button class="e-pdfviewer-customtoolbar-icon  e-pdfviewer-fitpage " id="viewer-fitpage" ng-mouseover="showTooltip($event)" ng-mouseleave="hideTooltip()" ng-click="callClientSideMethod('fitpage')"></div>
        </div>
        <div style="position:absolute;top:270px;">
            <div ej-button class="e-pdfviewer-customtoolbar-icon e-pdfviewer-fitwidth" id="viewer-fitwidth" ng-mouseover="showTooltip($event)" ng-mouseleave="hideTooltip()" ng-click="callClientSideMethod('fitwidth')"></div>
        </div>
    </div>

        <div id="toolbarDiv" ej-toolbar class="toolbarclass e-pdfviewer" role="toolbar">
            <ul style="padding:16px;float:left">
                <li>
                    <span id="pdfName">{{pdf}}</span>
                </li>
            </ul>
            <ul style="left:45%;position:absolute;padding:5px;">
                <li>
                    <table>
                        <tr>
                            <td style="width:34px;"><div style="margin-right:10px"><div ej-button class=" e-pdfviewer-customtoolbar-icon e-pdfviewer-gotoprevious" id="viewer-previous" ng-mouseover="showTooltip($event)" ng-mouseleave="hideTooltip()" ng-click=" callClientSideMethod('previous')"></div></div></td>
                            <td><input id="currentPage" class="e-pdfviewer-pagenumber e-pdfviewer-elementalignments" type="text" data-role="none" ng-click="textboxOnclick()" ng-keypress="goToPage($event)" ng-model="currentPageNumber" ng-focus="focusIn()" ng-blur="focusOut()" style="margin-right:4px"></td>
                            <td style="width:30px;"><span id="totalPageCount"> /&nbsp; {{TotalPage}}</span></td>
                            <td><div style="margin-left:15px"><div ej-button class=" e-pdfviewer-customtoolbar-icon e-pdfviewer-gotonext" id="viewer-next" ng-mouseover="showTooltip($event)" ng-mouseleave="hideTooltip()" ng-click=" callClientSideMethod('next')"></div></div></td>
                        </tr>
                    </table>
                </li>

            </ul>
            <ul style=" padding:5px;float:right;">
                <li>
                    <div ej-button class="e-pdfviewer-customtoolbar-icon  e-pdfviewer-print" id="viewer-print" ng-mouseover="showTooltip($event)" ng-mouseleave="hideTooltip()" ng-click="callClientSideMethod('print')"></div>
                </li>
                <li>
                    <div ej-button class="e-pdfviewer-customtoolbar-icon  e-pdfviewer-download" id="viewer-download" ng-mouseover="showTooltip($event)" ng-mouseleave="hideTooltip()" ng-click="callClientSideMethod('download')"></div>
                </li>
            </ul>
        </div>
    </div>
    <style>
        .e-pdfviewer-tbdiv.e-pdfviewer-tooltip {
            min-height: 0px;
        }

		#toolTip.e-pdfviewer-tbdiv.e-pdfviewer-tooltip {
			border-style:solid;
			border-width: 1px;
		}
        .e-pdfviewer-pagenumber.e-pdfviewer-elementalignments {
            border: none;
            background-color: transparent;
        }

        .e-pdfviewer-contentspan {
            font-size: 13px;
            margin: 0;
            padding: 0;
        }

        .e-pdfviewer-customtoolbar-icon {
            font-family: 'ej-webfont' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-align: center;
            vertical-align: middle;
            line-height: normal !important;
            font-size: 17px;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            cursor: pointer;
        }
         .e-pdfviewer-customtoolbar-icon.e-btn.e-txt {
                padding-top: 11px;
                padding-bottom: 2px;
        }

        .e-toolbar {
            font-size: 16px;
        }

        .e-btn.e-btn-normal {
            border-radius: 50%;
            height: 25px;
            width: 25px;
        }
    </style>

</div>
</html>

