 <div id="splittercontrol" ng-controller="SplitterCtrl">
    <div class="content-container-fluid">
        <div class="row">
            <div class="cols-sample-area splitter-width">
                <div id="outterSplitter" ej-splitter e-height="280" e-width="80%" e-enableautoresize="true" e-properties="properties">
                    <div>
                        <div class="content">
                            <h3 class="h3">PARIS </h3>
                            Paris, the city of lights and love - this short guide is full of ideas for how to make the most of the romanticism...
                        </div>
                    </div>
                    <div>
                        <div class="content">
                            <h3 class="h3">CAMEMBERT </h3>
                            The village in the Orne département of Normandy where the famous French cheese is originated from.
                        </div>
                    </div>
                    <div>
                        <div class="content">
                            <h3 class="h3">GRENOBLE </h3>
                            The capital city of the French Alps and a major scientific center surrounded by many ski resorts, host of the Winter Olympics in 1968.
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="property-window" class="box wide">
                    <div class="row">
                        <div class="col-md-3">
                            Pane Index
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="paneindex" class="input ejinputtext" ej-numerictextbox value="0" e-showspinbutton="false" e-width="100%" e-minvalue="0" e-maxvalue="2" />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="button" class="e-btn" id="Button2" value="Expand" ej-button e-size="normal" ng-click="expandpane($event)" />
                        </div>
                        <div class="col-md-3">
                            <input type="button" class="e-btn" id="Button1" value="Collapse" ej-button e-size="normal" ng-click="collapsepane($event)" />
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-3">
                            <b>Add New Pane </b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span>Pane Index</span>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="index" class="input ejinputtext" ej-numerictextbox e-showspinbutton="false" e-width="100%" e-minvalue="0" e-maxvalue="2" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span>Pane Size</span>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="size" class="input ejinputtext" e-value="sizeValue" e-change="validate" ej-numerictextbox e-minvalue="0" e-showspinbutton="false" e-width="100%" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span>Min Size</span>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="min" class="input ejinputtext" ej-numerictextbox e-value="minValue" e-focusout="validate" e-minvalue="0" e-showspinbutton="false" e-width="100%" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span>Max Size</span>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="max" class="input ejinputtext" value="100" e-value="maxValue"
                                   e-focusout="validate" ej-numerictextbox e-minvalue="0" e-showspinbutton="false" e-width="100%" />
                        </div>
                        <span id="error" style="color: red"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-3">
                            <input type="button" class="e-btn" id="add" ej-button e-size="normal" e-click="add" value="Add pane" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <b>Remove Pane </b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Remove Pane Index
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="removepaneidx" class="input ejinputtext" ej-numerictextbox value="0" e-showspinbutton="false" e-width="100%" e-minvalue="0" e-maxvalue="2" />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-3">
                            <input type="button" class="e-btn" id="remove" value="Remove pane" ej-button e-size="normal" ng-click="removepane($event)" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <style type="text/css" class="cssStyles">
        input.e-btn {
            width: 102px;
        }

        input.ejinputtext {
            width: 98px;
        }

        .h3 {
            font-size: 17px;
            margin: 0;
        }

        .content {
            padding: 15px;
        }
    </style>
</div>