<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="defaultApp">
<head>
    <title>Essential JS 1 for AngularJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <meta name="description" content="Essential JS 1 for AngularJS | Syncfusion AngularJS Component demos" />
    <meta charset="UTF-8">
    <meta name="author" content="Syncfusion" />
    <link rel="shortcut icon" href="content/images/favicon.ico" />
    <!-- Sample Browser related references-->
    <link href="content/bootstrap.min.css" rel="stylesheet" />
    <link href="content/ejthemes/bootstrap-theme/ej.web.all.min.css" rel="stylesheet" />
    <link href="content/ejthemes/bootstrap-theme/ej.reportdesigner.min.css" rel="stylesheet" />
    <link href="content/ejthemes/responsive-css/ej.responsive.css" rel="stylesheet" />
    <link href="content/default.css" rel="stylesheet" />
    <link href="content/ejthemes/ribbon-css/ej.icons.css" rel="stylesheet" />
    <!--Dependency files references-->
    <!--[if lt IE 9]>
    <script src="scripts/jquery-1.11.3.min.js" type="text/javascript" ></script>
    <![endif]-->
    <!--[if IE 9]><!-->
    <script src="scripts/jquery-3.1.1.min.js" type="text/javascript"> </script>
    <!--<![endif]-->
    <script src="scripts/jsrender.min.js" type="text/javascript"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/ej.web.all.min.js" type="text/javascript"></script>
    <!--[if gte IE 9]><!-->
    <script src="scripts/ej.reportdesigner.min.js" type="text/javascript"></script>
    <!--<![endif]-->
    <script src="scripts/ej.widget.angular.min.js"></script>
    <script src="scripts/ej.unobtrusive.min.js"></script>
    <script src="scripts/properties.js"></script>
    <!-- sample related references -->
    <script src="scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="scripts/excanvas.min.js"></script>
    <script src="scripts/scripts/jsondata.min.js"></script>
    <script src="scripts/scripts/templatelocaldata.js"></script>
    <script src="scripts/diagramscripts/diagramcommon.js"></script>
    <script src="scripts/scripts/xljsondata.js"></script>
    <script src="scripts/scripts/jsonkanbandata.js"></script>
    <script src="scripts/scripts/jsonscheduledata.js"></script>
    <script src="scripts/scripts/jsontreegriddata.js"></script>
    <script src="scripts/scripts/treemapdata.js"></script>
    <script src="scripts/MapsData/WorldMap.js"></script>
    <script src="scripts/MapsData/Continent_CountriesData.js"></script>
    <script src="scripts/MapsData/salesCountry.js"></script>
    <!-- Sample Browser related references-->
    <script src="scripts/sampleslist.js"></script>
    <!-- Localaization related references -->
    <script src="scripts/cultures/ej.culture.en-US.min.js"></script>
    <script src="scripts/cultures/ej.culture.fr-FR.min.js"></script>
    <script src="scripts/cultures/ej.culture.es-ES.min.js"></script>
    <script src="scripts/cultures/ej.culture.vi-VN.min.js"></script>
    <!--highlighter references-->
    <link href="scripts/CodeMirror/codemirror.min.css" rel="stylesheet" />
    <link href="scripts/CodeMirror/show-hint.min.css" rel="stylesheet" />
    <script src="scripts/CodeMirror/codemirror.js" type="text/javascript"></script>
    <script src="scripts/CodeMirror/javascript.js" type="text/javascript"></script>
    <script src="scripts/CodeMirror/css.js" type="text/javascript"></script>
    <script src="scripts/CodeMirror/xml.js" type="text/javascript"></script>
    <script src="scripts/CodeMirror/htmlmixed.js" type="text/javascript"></script>
    <script src="scripts/Codemirror/show-hint.js"></script>
    <script src="scripts/Codemirror/sql-hint.js"></script>
    <script src="scripts/Codemirror/sql.js"></script>
    <link href="content/default.css" rel="stylesheet" />
    <!-- App related references -->
    <script src="app/app.js"></script>
    <!-- ejService related references -->
    <script src="app/service.config.js"></script>
    <!-- requirejs references -->
    <script src="scripts/require.min.js"></script>
</head>
<body ng-controller="defaultCtrl">
    <div class="samplebrowser">
        <div class="headerarea">
            <nav class="navbar">
                <div class="content-container-fluid">
                    <div class="navbar-header leftheader">
                        <h1 title="Essential JS1 for AngularJS" class="sblogo e-h1-tag">Essential JS1 for AngularJS</h1>
                        <div class="angular-tittle">for AngularJS</div>
                    </div>
                    <div class="navbar-right rightheader">
                        <div class="themegallery">
                            <ul id="themebutton" title="Theme Switcher" ej-menu e-width="60" e-fields-datasource="menuData" e-openonclick="true" e-cssclass="sbthemeswitcher" e-isresponsive="false" e-click="onThemeChange"></ul>
                            <div id="sbtooltipbox" ej-dialog e-width="176px" e-height="86px" e-enableresize="false" e-showoninit="false" e-showheader="false" e-cssclass="metroblue" e-allowkeyboardnavigation="false">
                                <div class="sbtooltip"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="contentarea">
            <div class="accordion-panel">
                <div class="searchoption">
                    <input id="searchauto" type="text" ej-autocomplete e-showpopupbutton="true" e-filtertype="Contains" e-fields-text="data" e-popupwidth="350px" e-datasource="subControlList" e-select="onSelectItem" e-watermarktext="Search here" e-width="100%" e-open="onPopupOpen" e-close="onPopupOpen" e-template="<div class='control_name'>${control}</div> <div class='control_samplename'>${sample}</div>" />
                </div>
                <div id="dashboardheader" class="dashboardheader">
                    <div id="dashboardheadertext" class="dashboardheadertext">
                        <a ng-click="showcaseSampleClick($event)" class="ng-binding showcasetext" href="#/{{$root.currentTheme}}">SHOWCASE SAMPLES</a>
                    </div>
                </div>
                <div id="scrollcontainer" class="scrollcontainer" ej-scroller e-buttonsize="0" e-scrollersize="9">
                    <div>
                        <ul class="productList" id="productList">
                            <li ng-repeat="control in controls |filter:name" class="controlnamelist" style="position:relative">
                                <a ng-click="hideSampleList($event)">
                                    {{control.name}}
                                    <span class="sb-arrow up"></span>
                                </a>
                                <ul ng-if="control.samples!=undefined">
                                    <li ng-repeat="sample in control.samples | filter:name" class="samplenamelist">
                                        <a ng-href="#/{{sample.templateUrl}}" ng-click="loadSample(control.name, sample.id, $event)">{{sample.name}} 
                                            <span class="samplestatus {{sample.type}}" ng-if="sample.type"></span>
                                        </a>                                      
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="control-panel" ng-click="navBarHide($event)">
                <div class="row showcasefooter">
                    <div class="contentheader">
                        <button id="slidemenu" class="slidemenuicon" ej-button e-showroundedcorner="true" e-size="normal" e-contenttype="imageonly" e-prefixicon="e-icon e-slidemenu" e-click="slideclick"></button>
                        <span class="producttitle">Showcase Samples</span>
                        <div class="controlnamediv" style="display:none;">
                            <span id="controlname" class="controlname">{{$root.controlName}} <span>/</span></span>
                            <span id="samplename" class="samplename">{{$root.sampleName}}</span>
                        </div>
                    </div>
                    <div class="showcasesamples">
                        <div class="showcasesamples-section">
                            <ul class="featuredsamples">
                                <li ng-repeat="dsample in dashboardSamples" class="listsampleimage">
                                    <div class="lisampleimage">
                                        <span class="showcasestatus {{dsample.type}}" ng-if="dsample.type"></span>
                                        <a href="{{dsample.url}}" target="_blank">
                                            <div class="imgstyle {{dsample.imgClass}}"></div>
                                        </a>
                                    </div>
                                    <div class="litext">
                                        <a class="anchorclass aclass">{{dsample.name}}</a>
                                        <p>{{dsample.description}}</p>
                                    </div>
                                    <div class="samplebutton">
                                        <a class="anchorclass e-tbtn e-active" href="{{dsample.url}}" target="_blank" ej-button e-showroundedcorner="false">
                                            <div>VIEW SAMPLE</div>
                                        </a>
                                    </div>
                                    <div class="codebutton">
                                        <a class="anchorclass e-tbtn e-active" target="_blank" href="showcasesamples/sourcecode.html?id={{dsample.urlId}}" ej-button e-showroundedcorner="false" e-contenttype="imageOnly" e-prefixicon="e-icon codeimg"></a>
                                    </div>
                                    <div class="qrcode">
                                        <span class="qrimage {{dsample.qrimage}}"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="productpage" style="display:none;">
                        <div class="contentchild">
                            <div class="router">
                                <div ng-view></div>
                            </div>
                        </div>
                        <div class="contentsourcediv">
                            <div id="tab" ej-tab e-selecteditemindex="0">
                                <ul>
                                    <li><a href="#htmlsource">HTML</a></li>
                                    <li><a href="#jssource">JS</a></li>
                                </ul>
                                <div id="htmlsource">
                                    <div class="tab_content"></div>
                                </div>
                                <div id="jssource">
                                    <div class="tab_content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footerdiv">
                    <div class="pull-left">
                        <div class="copyright">Copyright © 2001-2018 Syncfusion Inc.</div>
                    </div>
                    <div style="float: right;">
                        <a href="//www.syncfusion.com">
                            <div class="syncfusion"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function isIE() {
            var myNav = navigator.userAgent.toLowerCase();
            return (myNav.indexOf('msie') != -1) ? parseInt(myNav.split('msie')[1]) : false;
        }
        if (typeof isIE() == "number" && isIE() <= 8)
            location.replace("error.html");
    </script>
</body>
</html>
