<div ng-controller="diagramCtrl">
    <div class="content-container-fluid">
        <div class="row">
            <div class="cols-sample-area">
                <ej-diagram id="diagramCore" e-height="500px" e-width="700px" e-nodes="nodes" e-backgroundcolor="backgroundColor"
                    e-pagesettings-pageheight="pageSettings.pageHeight"
                    e-pagesettings-pagewidth="pageSettings.pageWidth"
                    e-pagesettings-pagebackgroundcolor="pageSettings.pageBackgroundColor"
                    e-pagesettings-pageborderwidth="pageSettings.pageBorderWidth"
                    e-pagesettings-pagebordercolor="pageSettings.pageBorderColor"
                    e-pagesettings-pagemargin="pageSettings.pageMargin"
                    e-pagesettings-showpagebreak="pageSettings.showPageBreak"
                    e-pagesettings-pageorientation="pageSettings.pageOrientation"
                    e-pagesettings-scrolllimit="pageSettings.scrollLimit"
                    e-pagesettings-multiplepage="pageSettings.multiplePage"
                    e-snapsettings-enablesnaptoobject="snapSettings.enableSnapToObject"
                    e-snapsettings-snapangle="snapSettings.snapAngle"
                    e-snapsettings-snapobjectdistance="snapSettings.snapObjectDistance"
                    e-create="create">
                </ej-diagram>
            </div>
            <div class="panel-body">
                <div id="property-window" class="box wide">
                    <div class="row">
                        <div class="col-md-3">
                            <b>Page Settings</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Height
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="text" id="Text1" ng-model="pageSettings.pageHeight" ej-numerictextbox e-value="pageSettings.pageHeight" e-width="100px" />
                        </div>
                        <div class="col-md-3">
                            Width
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="text" id="Text2" ng-model="pageSettings.pageWidth" ej-numerictextbox e-value="pageSettings.pageWidth" e-width="100px" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Multiple Page
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="checkbox" ng-model="pageSettings.multiplePage" style="outline: none;">
                        </div>
                        <div class="col-md-3">
                            Border Width
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="text" id="Text3" ng-model="pageSettings.pageBorderWidth" ej-numerictextbox e-value="pageSettings.pageBorderWidth" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Background
                        </div>
                        <div class="col-md-3 aligntop">
                            <input id="pageBackground" ej-dropdownlist e-datasource="pageColor" e-value="pageSettings.pageBackgroundColor" e-width="100px" />
                        </div>
                        <div class="col-md-3">
                            Border Color
                        </div>
                        <div class="col-md-3 aligntop">
                            <input id="pageBorderColor" ej-dropdownlist e-datasource="pageColor" e-value="pageSettings.pageBorderColor" e-width="100px"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Margin
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="text" id="Text6" ng-model="pageSettings.pageMargin" ej-numerictextbox e-value="pageSettings.pageMargin" e-minvalue="0" e-maxvalue="35" e-width="100px" />
                        </div>
                        <div class="col-md-3">
                            Page break
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="checkbox" ng-model="pageSettings.showPageBreak" style="outline: none;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Orientation
                        </div>
                        <div class="col-md-3 aligntop">
                            <input ej-dropdownlist e-datasource="pageStyle" e-value="pageSettings.pageOrientation" e-width="100px" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <b>Snap Settings</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Snap
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="checkbox" ng-model="snapSettings.enableSnapToObject" style="outline: none;">
                        </div>
                        <div class="col-md-3">
                            Snap Angle
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="text" id="Text10" ng-model="snapSettings.snapAngle" ej-numerictextbox e-value="snapSettings.snapAngle" e-width="100px" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Snap Distance
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="text" id="Text11" ng-model="snapSettings.snapObjectDistance" ej-numerictextbox e-value="snapSettings.snapObjectDistance" e-width="100px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

