<div ng-controller="diagramCtrl">
    <div class="content-container-fluid">
        <div class="row">
            <div class="cols-sample-area">
                <ej-diagram id="diagramCore" e-height="500px" e-width="700px" e-nodes="nodes"
                            e-selecteditems-offsetx="selectedItems.offsetX"
                            e-selecteditems-offsety="selectedItems.offsetY"
                            e-selecteditems-width="selectedItems.width"
                            e-selecteditems-height="selectedItems.height"
                            e-selecteditems-rotateangle="selectedItems.rotateAngle"
                            e-selectionchange="selectionChange">
                </ej-diagram>
            </div>
            <div class="panel-body">
                <div id="property-window" class="box wide">
                    <div class="row">
                        <div class="col-md-3">
                            <b>Selector</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            OffsetX
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="text" id="Text1" ng-model="selectedItems.offsetX" ej-numerictextbox e-value="selectedItems.offsetX" e-width="100px" />
                        </div>
                        <div class="col-md-3">
                            OffsetY
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="text" id="Text1" ng-model="selectedItems.offsetY" ej-numerictextbox e-value="selectedItems.offsetY" e-width="100px" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Width
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="text" id="Text1" ng-model="selectedItems.width" ej-numerictextbox e-value="selectedItems.width" e-width="100px" />
                        </div>
                        <div class="col-md-3">
                            Height
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="text" id="Text1" ng-model="selectedItems.height" ej-numerictextbox e-value="selectedItems.height" e-width="100px" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            RotateAngle
                        </div>
                        <div class="col-md-3 aligntop">
                            <input type="text" id="Text1" ng-model="selectedItems.rotateAngle" ej-numerictextbox e-value="selectedItems.rotateAngle" e-width="100px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
